*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.navbar{
    display: inline-block;
    float: right;
    list-style: none;
    margin: 20px;
    padding-right: 70px;
}

.deco{
    text-decoration: none;
    color: black;
}